.d_flex {
    display: flex
}
.jc_sb {
    justify-content: space-between
}
.header_container {
    padding: 1rem;
    padding-bottom: 2px;
    align-items: center;
}
.left_content > img {
    padding: 10px;
}
.left_content b {
    padding-inline-start: .5em;
}
.left_content nav {
    padding-inline-start: .5em;
}
.title {
    font-size: x-large;
}