.card {
    padding: 10px;
    background-color: #22272B;
    border-radius: 10px;
    margin: 5px 0;
    min-height: 48px;
    border-right: rgba(0, 0, 0, .3) solid;
    border-bottom: rgba(0, 0, 0, .3) solid;
}
.card > div:first-child {
    font-weight: bold;
    font-size: x-large;
}
.dragging {
    display: none;
}
.fake {
    background: transparent;
    color: transparent;
    border: 1px solid #4ca1af;
}
.status {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: .5em;
    color: #ccc;
}
.icon_bar {
    display: inline-flex;
}
.p_5 {
    padding: 0 .5em;
}
.ai_c {
    align-items: center;
}