/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

/********* plus icon *********/
.gg-math-plus,
.gg-math-plus::after {
    display: block;
    box-sizing: border-box;
    background: currentColor;
    border-radius: 10px
}
.gg-math-plus {
    margin-top: -2px;
    position: relative;
    transform: scale(var(--ggs,1));
    width: 16px;
    height: 2px
}
.gg-math-plus::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 16px;
    top: -7px;
    left: 7px
}

/********* more icon *********/
.gg-more-alt {
  transform: scale(var(--ggs,1))
 }
 
 .gg-more-alt,
 .gg-more-alt::after,
 .gg-more-alt::before {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 4px;
  height: 4px;
  background: currentColor;
  border-radius: 100%
 }
 
 .gg-more-alt::after,
 .gg-more-alt::before {
  content: "";
  position: absolute;
  top: 0
 }
 
 .gg-more-alt::after {
  left: -6px
 }
 
 .gg-more-alt::before {
  right: -6px
 }
  .gg-check-o {
 box-sizing: border-box;
 position: relative;
 display: block;
 transform: scale(var(--ggs,1));
 width: 22px;
 height: 22px;
 border: 2px solid;
 border-radius: 100px
}

.gg-check-o::after {
 content: "";
 display: block;
 box-sizing: border-box;
 position: absolute;
 left: 3px;
 top: -1px;
 width: 6px;
 height: 10px;
 border-color: currentColor;
 border-width: 0 2px 2px 0;
 border-style: solid;
 transform-origin: bottom left;
 transform: rotate(45deg)
} 

/********* check icon *********/
.gg-check-o {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 17px;
  height: 17px;
  border: 2px solid;
  border-radius: 100px
 }
 
 .gg-check-o::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  left: 2px;
  top: -4px;
  width: 6px;
  height: 10px;
  border-color: currentColor;
  border-width: 0 2px 2px 0;
  border-style: solid;
  transform-origin: bottom left;
  transform: rotate(45deg)
 } 

/********* sort Az icon *********/
 .gg-sort-az,
 .gg-sort-az::after,
 .gg-sort-az::before {
  display: block;
  box-sizing: border-box;
  height: 2px;
  border-radius: 4px;
  background: currentColor
 }
 
 .gg-sort-az {
  position: relative;
  transform: scale(var(--ggs,1));
  width: 8px
 }
 
 .gg-sort-az::after,
 .gg-sort-az::before {
  content: "";
  position: absolute
 }
 
 .gg-sort-az::before {
  width: 12px;
  top: -4px;
  left: -2px
 }
 
 .gg-sort-az::after {
  width: 4px;
  top: 4px;
  left: 2px
 } 
/********* arrows exchange v icon *********/
 .gg-arrows-exchange-v {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 14px;
  height: 16px
 }
 
 .gg-arrows-exchange-v::after,
 .gg-arrows-exchange-v::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 2px;
  background: currentColor;
  border-radius: 4px
 }
 
 .gg-arrows-exchange-v::before {
  height: 6px;
  transform: rotate(45deg);
  box-shadow: 7px -4px 0;
  top: 4px;
  left: 2px
 }
 
 .gg-arrows-exchange-v::after {
  height: 12px;
  box-shadow: -4px 4px 0;
  right: 4px;
  bottom: 4px
 } 

/********* bolt icon *********/
 .gg-bolt {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 6px;
  height: 21px
 }
 
 .gg-bolt::after,
 .gg-bolt::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  transform: rotate(30deg)
 }
 
 .gg-bolt::before {
  border-bottom: 12px solid;
  left: 0;
  top: 0
 }
 
 .gg-bolt::after {
  border-top: 12px solid;
  right: 0;
  bottom: 0
 } 

/********* toggle on icon *********/
 .gg-toggle-on,
 .gg-toggle-on::before {
  display: block;
  box-sizing: border-box;
  border-radius: 20px
 }
 
 .gg-toggle-on {
  border: 2px solid;
  position: relative;
  transform: scale(var(--ggs,1));
  width: 24px;
  height: 14px
 }
 
 .gg-toggle-on::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  background: currentColor;
  top: 2px;
  left: 2px
 } 

 /********* search icon *********/
 .gg-search {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 16px;
  height: 16px;
  border: 2px solid;
  border-radius: 100%;
  margin-left: -4px;
  margin-top: -4px
 }
 
 .gg-search::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  border-radius: 3px;
  width: 2px;
  height: 8px;
  background: currentColor;
  transform: rotate(-45deg);
  top: 10px;
  left: 12px
 } 

 /********* comment icon *********/
 .gg-comment {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 20px;
  height: 16px;
  border: 2px solid;
  border-bottom: 0;
  box-shadow:
  -6px 8px 0 -6px,
  6px 8px 0 -6px
 }
 
 .gg-comment::after,
 .gg-comment::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 8px
 }
 
 .gg-comment::before {
  border: 2px solid;
  border-top-color: transparent;
  border-bottom-left-radius: 20px;
  right: 4px;
  bottom: -6px;
  height: 6px
 }
 
 .gg-comment::after {
  height: 2px;
  background: currentColor;
  box-shadow: 0 4px 0 0;
  left: 4px;
  top: 4px
 } 